<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Albums</title>
    </head>
    <body>
        <h1 class="t-title">Albums</h1>
        
        {% for album in albums %}
            <div class="l-albums">

                {% if artist %}
                    <h2>{{ album.title }}</h2>
                    <p class="t-album_info">Year: {{ album.release_year }}</p>
                    <p class="t-album_info">Artist: {{ artist.name }}</p>
                    <a href="/albums">Go back</a>
                {% else %}
                    <a href="/albums/{{ album.id }}">Album: {{ album.title }}</a>
                {% endif %}

            </div>
        {% endfor %}
        {% if not artist %}
            <div>
                <a href="/albums/new">Add new album</a>
            </div>
        {% endif %}
    </body>
</html>