<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Albums</title>
    </head>
    <body>
        <h1>Albums</h1>
        
        {% for album in albums %}
            <div>

                {% if artist %}
                    <h2>{{ album.title }}</h2>
                    <p>Year: {{ album.release_year }}</p>
                    <p>Artist: {{ artist.name }}</p>
                    <a href="/albums">Go back</a>
                {% else %}
                    <a href="/albums/{{ album.id }}">Album: {{ album.title }}</a>
                {% endif %}

            </div>
        {% endfor %}

    </body>
</html>