<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Artists</title>
    </head>
    <body>
        <h1 class="t-title">Artists</h1>

        <ul class="l-artists">
        {% for artist in artists %}
            <div class="l-artist-element">

                {% if more_info %}
                    <h2 class="t-artist_name">{{ artist.name }}</h2>
                    <p class="t-artist_info"> Genre: {{ artist.genre }}</p>

                    <h3>Albums</h3>
                    {% for album in artist.albums %}
                        <a href="/albums/{{ album.id }}">{{ album.title }}</a>
                        <br>
                    {% endfor %}

                {% else %}
                    <a href="/artists/{{ artist.id }}">Artist: {{artist.name}}</h4>
                {% endif %}
            </div>
        {% endfor %}
        </ul>

        {% if not more_info %}
            <div>
                <a href="/artists/new">Add new artist</a>
            </div>
        {% endif %}
    </body>
</html>