<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Artist</title>
    </head>
    <body>
        <form action="/artists" method="post">
            <h1 class="t-title">New Artist</h1>

            {% if errors %}
            <h3>Errors</h3>
                <ul class="t-errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
            
            <input type="submit" value="Add new artist">
        </form>
    </body>
</html>